[Unit]
Description=Audio Pi Websystem
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Audio-Pi-Websystem
ExecStartPre=/bin/sleep 10
Environment=FLASK_DEBUG=0
Environment=FLASK_SECRET_KEY=
User=pi
Group=audio
ExecStart=/home/pi/Audio-Pi-Websystem/venv/bin/python /home/pi/Audio-Pi-Websystem/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
