<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Audio Pi{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Dahoim</a>
        <a href="{{ url_for('logs') }}">Loggs</a>
        <a href="{{ url_for('change_password') }}">Passwort ändra</a>
        <a href="{{ url_for('set_time') }}">Zeit/Datum</a>
        <form action="{{ url_for('update') }}" method="post" style="display:inline">
            <button type="submit" class="btn">Update</button>
        </form>
        <a href="{{ url_for('logout') }}">Abmelda</a>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
